@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --sidebar-width: 300px
}

* {
    font-family: Poppins, serif;
}

.chart-bg {
    @apply bg-gray-900 rounded-xl
}

.bg-primary-100 {
    background: #272f63;
}

.bg-primary-400 {
    background: #293583;
}

.chart-title {
    font-size: 20px;
    font-weight: 500;
    width: max-content;
    padding-bottom: 10px;
}

@media (min-width: 1200px) {

}

.layout-content {
    display: flex;
    --sidebar-width: 300px;

    .sidebar {
        width: var(--sidebar-width);
        position: fixed;
        left: 0;
        top: 75px;
        z-index: 10;
    }

    .sidebar-w-mask {
        width: var(--sidebar-width);
        height: 100vh;
    }

    .compact-sidebar {
        --sidebar-width: 80px;

        .sidebar-w-mask {
            width: var(--sidebar-width);
        }

        .sidebar {

            width: var(--sidebar-width);

            .sidebar-item {
                background: rgba(255, 255, 255, 0.09);
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;

                span {
                    display: none;
                }

                .sidebar-icon {
                    font-size: 25px;
                }



            }
        }
    }

    main {
        width: 100%;
    }
}

.full-viewport {
    height: calc(100vh - 75px);
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    @apply w-full bg-primary-400;
}

.vh {
    height: calc(100vh - 75px);
}

.home-section {
    /*background: red;*/
}

.active {
    background: rgba(255, 255, 255, 0.11) !important;
}


.site-logo{


    img{
        width: 100px;
        height: 100px;

        object-fit: contain;
        border-radius: 100%;
    }
}


.profile-cover{
    width: 100%;
    height: 250px;
    img{
        width: 100%;
        height: inherit;
        object-fit: cover;
    }
}